<%= stylesheet_link_tag "top", :media => "all" %>
<div class="holder_content">
  <h4>読みたい旅話のカテゴリを下から選んでクリック。さあ、世界へ飛び出そう！</h4> 
  <%= image_tag 'top/worldmap.png' %>
  <%= image_tag 'top/heartful.png', :class => "heartful" %>
  <%= image_tag 'top/funny.png', :class => "funny" %>
  <%= image_tag 'top/firsttime.png', :class => "firsttime" %>
  <%= image_tag 'top/dangerous.png', :class => "dangerous" %>
  <%= image_tag 'top/turningpoint.png', :class => "turningpoint" %>
  <input type="hidden" value="<%= @theme_turningpoint.id %>" id="theme_turningpoint_id" />
  <input type="hidden" value="<%= @theme_heartful.id %>" id="theme_heartful_id" />
  <input type="hidden" value="<%= @theme_firsttime.id %>" id="theme_firsttime_id" />
  <input type="hidden" value="<%= @theme_dangerous.id %>" id="theme_dangerous_id" />
  <input type="hidden" value="<%= @theme_funny.id %>" id="theme_funny_id" />
</div>

<section class="contents">
  <h4>What's new ----- 最新の投稿</h4>
  <div class="articles-container">
    <%= render :partial => 'shared/articles/list', :locals => {:articles => @articles} %>
  </div>
  <div class="link">
    <%= link_to "最新の投稿一覧はこちら", articles_search_latest_path %>
  </div>
</section>

<section class="contents">
  <h4>人気の記事</h4>
  <div class="articles-container">
    <%= render :partial => 'shared/articles/list', :locals => {:articles => @popular_articles} %>
  </div>
  <div class="link">
    <%= link_to "人気の記事一覧はこちら", articles_search_popular_path %>
  </div>
</section>

<section class="contents">
  <h4>編集部おすすめ</h4>
  <div class="articles-container">
    <%= render :partial => 'shared/articles/list', :locals => {:articles => @recommended_articles} %>
  </div>
  <div class="link">
    <%= link_to "編集部おすすめ一覧はこちら", articles_search_recommended_path %>
  </div>
</section>
