<%= stylesheet_link_tag    "top", :media => "all" %>
<div class="holder_content">
  <!-- <h5>読みたい旅話のカテゴリを下から選んでクリック。さあ、世界へ飛び出そう！投稿は左のメニューから選んでね。</h5>  -->
  <h5>読みたい旅話のカテゴリを下から選んでクリック。さあ、世界へ飛び出そう！投稿は左メニューから選んでね。</h5> 
  <%= image_tag 'worldmap.png' %>
</div>

<section>
<!--                   <h2>What's new ----- 最新の投稿</h2>
-->
  <h4>What's new ----- 最新の投稿</h4>
  <% @articles.each do |article| %>
    <article class="article">
      <header><%= article.title %></header>
      <%= link_to image_tag('picture2.jpg', :size => "200x150", :class => "img-polaroid"), article_path(article) %>
      <footer><%= article.description %></footer>
    </article>
  <% end -%>
</section>
