<%= stylesheet_link_tag "profiles", :media => "all" %>
<%= form_for @profile, :html => {:class => 'form-horizontal'}, :url => {:controller => "profiles", :id => @profile.id, :action => "update"} do |f| %>

<% if @profile.errors.any? %>
  <div class="control-group">
    <div class="controls alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
  <% @profile.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end -%>
    </div>
  </div>
<% end -%>

<div class="control-group">
  <%= f.label :name, '名前', :class => 'control-label'%>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_field :name, :placeholder => '名前', :class => "span7", :required => "required" %>  
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label '写真', :class => 'control-label string-label'%>
  <div class="controls">
    <div>
      <div class="fine-uploader photouploader"></div>
      <div class="file-image image-container profile photo">
        <% if @profile && @profile.photo_profile %>
          <%=  image_tag(@profile.photo_profile, :class => "upload-file") %>  
        <% else %>
          <span class="upload-file">NO IMAGE</span>
          <img class="upload-file" src="" alt="NO IMAGE" style="display: none;">
        <% end -%>
        <%= f.hidden_field :photo_id -%> 
      </div>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, 'メールアドレス', :class => 'control-label'%>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_field :email, :placeholder => 'メールアドレス', :class => "span7", :required => "required" %>  
    </div>
  </div>
</div>

<div class="control-group">
  <%= label_tag(:bio, '自己紹介', :class => 'control-label')%>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_area :bio, :placeholder => '自己紹介', :class => "span7", :required => "required", :rows => 15 %>  
    </div>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.submit :class => 'btn btn-inverse' %>
  </div>
</div>

<% end -%>
