<%= stylesheet_link_tag    "profiles", :media => "all" %>

<table id="profile-table" class="table table-bordered table-hover table">
  <thead>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>ソーシャル？写真？</th>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <%# profile.user.name --%>
        <td><%= profile.name %></td>
        <td><%= profile.email %></td>
        <td><%= profile.provider %></td>
        <input type="hidden" name="profile_id" value="<%= profile.id %>" />
      </tr>
    <% end -%>
  </tbody>
</table>


<%= paginate(@profiles) %>
