<%= stylesheet_link_tag "profiles", :media => "all" %>
<%= form_for @profile, :html => {:class => 'form-horizontal'}, :url => {:controller => "profiles", :id => @profile.id, :action => "update_password"} do |f| %>

<% if @profile.errors.any? %>
  <div class="control-group">
    <div class="controls alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
  <% @profile.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end -%>
    </div>
  </div>
<% end -%>

<div class="control-group">
  <%= f.label :password, '新しいパスワード', :class => 'control-label'%>
  <div class="controls">
    <div class="input-prepend">
      <%= f.password_field :password, :placeholder => '新しいパスワード', :class => "span6", :autocomplete => "off" %>  
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :password_confirmation, '確認パスワード', :class => 'control-label'%>
  <div class="controls">
    <div class="input-prepend">
      <%= f.password_field :password_confirmation, :placeholder => '確認パスワード', :class => "span6", :autocomplete => "off" %>  
    </div>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.submit :class => 'btn btn-inverse' %>
  </div>
</div>

<% end -%>
