<%= stylesheet_link_tag "about_us", :media => "all" %>

<div class="row">
  <div id="sidebar" class="span3">
    <%= render :partial => 'sidemenu', :locals => {:active => "index"} %>
  </div>
  <div id="contents" class="span9">
    <div class="hints">
    <%#-- @about_us.each do |about_us| --%>
      <!-- <p><%#= simple_format(about_us.content) --%></p> -->
    <%# end --%>

    <div class="cleafix">
      <%= image_tag("about_us/about_us.png", alt: "旅レポとは", width: '600') %>
    </div>
    <br/>
    この度は、旅レポをご利用していただき、誠にありがとうございます！<br/>
    <br/>
    旅レポとは、海外や旅行が好きな旅人達による、旅にまつわるユニークな体験をもとにした、個性豊かな「旅（海外）」に関する「レポート（体験談・経験談）」を多くの海外旅行好きライターから投稿してもらうことにより作り上げる、旅人参加型の旅話専門ポータルサイトでございます。<br/>
    <br/>
    <br/>

    <h4>●旅レポの使い方</h4>
・ライター向け（旅の話を投稿する人向け）<br/>
最初に、2分で終わる簡単ライター登録をすることによって、ライター用のIDが割り振られます。次回以降は、そのIDでログインすることにより、ライターさんがこれまでに旅の中で経験したことや感じたことを記事として投稿できるようになります。ライター登録は完全無料にて行うことができます<br/>
<br/>
また、ライター登録の際にはfacebookのIDを利用する方法もあり、その場合はもっと簡単にライターとして記事を投稿することができます。<br/>
<br/>
<%= link_to 'ライター登録はこちら', new_user_registration_path %>／<%= link_to 'ログインはこちら', new_user_session_path %><br/>
<br/>
・ユーザー向け（投稿された旅の話を読む人向け）<br/>
投稿された旅の話を読む場合は、登録等の手続きは一切不要です。もちろん、利用料金も完全無料です。<br/>
気になる旅の話をご自由にお楽しみくださいませ。<br/>
<br/>
<%= link_to '記事一覧はこちら', search_articles_path %><br/>
    <br/>
    <div class="cleafix">
      <%= image_tag("about_us/composition.png", alt: "旅レポの使い方", width: '600') %>
    </div>
<br/>
    <h4>●旅レポが目指すもの</h4>
    <div class="cleafix">
      <%= image_tag("about_us/goal.png", alt: "旅レポが目指すもの", width: '600') %>
    </div>
<br/>
海外に出てみると、実に多くのおもしろいこと、興味深いこと、不思議なこと、ワクワクすることに出会います。それは我々「旅レポ実行委員」のメンバーが実際に旅に出て、感じていることです。<br/>
    <br/>
しかし、日本に帰ってきて友人たちに海外や旅のことを話すときに必ずと言っていいほど抱かれる海外のイメージは、<br/>
・「海外は危ない」<br/>
・「自分には無理」<br/>
・「英語ができなきゃいけない」<br/>
    <br/>
…って、それって、全部先入観が決め付けた勝手なイメージじゃないか。<br/>
    <br/>
海外は危ない？確かにテロの可能性は日本よりも高いところが多いかもしれませんし、衛生状態の悪さから食べ物にやられることも多いかもしれません。でもそれって、ある程度の注意と準備で回避することはできることです。<br/>
無理？どうして？多くの旅人は言います。「来てみたら、どうにでもなるんだな」と。<br/>
    <br/>
つまり、よく出てくる「危ない」「無理」「英語できないとダメ」という、たったそれだけのイメージによって、たったそれだけの判断材料で、考えることもなく「海外のこと」をシャットアウトしてしまうのって、すごく勿体ないと思うのです。<br/>
    <br/>
一歩踏み出すか踏み出さないか、そのボーダーラインに、そんな勝手なイメージたちは無造作に横たわっています。<br/>
決して、海外に行くことそれ自体がすごいことだと言いたいのではありません。でも、その一歩を踏み出すことによって出会えるたくさんのワクワクがあることを、もっともっと伝えたいと思うのです。<br/>
    <br/>
しかし、普段の生活の中で、「よし、いっちょセカイでも見てくるか！」と思うようなきっかけに出会う機会というのはそうそうないのが現実というものだと思います。だからこそ、「一歩踏み出した」旅人たちのストーリーをまとめた「旅レポ」が、海外や新しいことへの挑戦への最初の一歩を踏み出すきっかけのほんの一つになれたら、という思いで、「旅レポ」を運営しております。<br/>
    <br/>
<p>＜ブログとの違い＞</p>
海外を旅する旅人の多くは、個人ブログとして自分の旅に関する記録や体験談を綴っています。<br/>
    <br/>
しかし、それらはあくまでも個人として記事を投稿しているものなので、「多くのおもしろい記事を読みたい！」となったときに、バラバラに点在する個人個人が運営しているおもしろ記事をwebの中から探すことは少しばかり大変な作業です。<br/>
    <br/>
また、ブログによって記事の内容や書き方も様々で、読者が欲している記事を探すのも意外と難しいものです。<br/>
    <br/>
そのようなことを解消するできる「旅レポ」のメリットとしては、<br/>
①多くのライター、多くの記事が1つの「旅レポ」というポータルサイトに集約されているため、簡単におもしろい記事へアクセスできる<br/>
②ある程度のレポートの書き方のフォーマットがあるため、読みやすい。<br/>
    <br/>
ということが挙げられます。<br/>
    <br/>
<p>＜旅情報サイトとの違い＞</p>
海外旅行をする際に必要な実用情報（交通、料金、観光スポット情報など）に関する情報は大手サイトを筆頭に、web上には多くありますが、「旅レポ」は実用情報としての活用というよりも、旅人が実際に経験・体験した話にもとづくストーリーと、それにより感じたことや想い・動いた感情といった面にフォーカスしております。<br/>
    <br/>
それらの話を「人生を変えた話」「心温まる話」「初体験の話」「危ない話」「すべらない話」というテーマにより分別することにより、ワクワクのきっかけ作りを手助けするような作りになっております。<br/>
    <br/>
<h4>●あいさつ</h4>
海外で出会うどの旅人も、たまに怪しげな、稀にヘンテコな、そして、時に胸を揺るがすようなアツいそれぞれのストーリーを持っていいます。<br/>
    <br/>
そんなユニークな物語たちを集めて世界一のワクワクを発信していきたいと思っております！　<br/>
    <br/>
  </div>
  </div>
</div>
