<%= stylesheet_link_tag "articles", :media => "all" %>
<%= form_for @article, :html => {:class => 'form-horizontal'} do |f| %>

<div>
  <% if f.object.new_record? %>
    <h3 class="page-title">記事を投稿する</h3>
  <% else -%>
    <h3 class="page-title">記事を編集する</h3>
  <% end -%>
</div>

<% if @article.errors.any? %>
  <div class="control-group">
    <div class="controls alert alert-block">
      <button type="button"
  <% @article.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end -%>
    </div>
  </div>
<% end -%>

<div class="control-group">
  <%= f.label :title, 'レポート名', :class => 'control-label'%>
  <div class="controls subtitle help">旅話のタイトルを入力して下さい</div>
  <div class="controls">
    <div class="input-prepend">
      <!-- <span class="add-on"><i class="icon-pencil"></i></span> -->
      <%= f.text_field :title, :placeholder => 'レポート名', :required => "required", :class => "span7" %>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label '投稿写真', :class => 'control-label'%>
  <div class="controls">
    <div>
      <%#= f.file_field :photo, :required => "required" --%>
      <div class="fine-uploader imageuploader"></div>
      <div class="file-image image-container photo">
        <% if @photo_url %>
          <%=  image_tag(@photo_url, :class => "upload-file") %>
        <% else %>
          <span class="upload-file">NO IMAGE</span>
          <img class="upload-file" src="" alt="NO IMAGE" style="display: none;">
        <% end -%>
        <%= f.hidden_field :image_id -%>
        <%#= f.fields_for :image do |fimage| --%>
          <%#= fimage.hidden_field :id --%>
        <%# end --%>
      </div>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label '旅のシチュエーション', :class => 'control-label'%>
  <div class="controls subtitle help">記事に当てはまるシチュエーションを下記からそれぞれ選択して下さい</div>
  <div class="controls theme">
    <%= f.select :theme_id, @themes, :prompt => '記事のテーマを選択して下さい', :required => "required" %><%=  image_tag('common/icon_info.png', :class => "info") %></div>
  <div class="controls countries">
    <%= f.select :country_id, @countries, :prompt => '国を選択して下さい', :required => "required" %><%=  image_tag('common/icon_info.png', :class => "info") %></div>
  <div class="controls vihicles">
    <%= f.select :vihicle_id, @vihicles, :prompt => '移動手段を選択して下さい', :required => "required" %><%=  image_tag('common/icon_info.png', :class => "info") %></div>
  <div class="controls members">
    <%= f.select :member_id, @members, :prompt => '人数を選択して下さい', :required => "required" %><%=  image_tag('common/icon_info.png', :class => "info") %></div>
  <div class="controls purposes">
    <%= f.select :purpose_id, @purposes, :prompt => '目的を選択して下さい', :required => "required" %><%=  image_tag('common/icon_info.png', :class => "info") %></div>
  <div class="controls budgets">
    <%= f.select :budget_id, @budgets, :prompt => '予算を選択して下さい', :required => "required" %><%=  image_tag('common/icon_info.png', :class => "info") %></div>
  <div class="controls languages">
    <%= f.select :language_id, @languages, :prompt => '言語力を選択して下さい', :required => "required" %><%=  image_tag('common/icon_info.png', :class => "info") %></div>
  <div class="controls ages">
    <%= f.select :age_id, @ages, :prompt => '年齢を選択して下さい', :required => "required" %><%=  image_tag('common/icon_info.png', :class => "info") %></div>
</div>

<% if @plannings && @plannings.length > 0 %>
<div class="control-group">
  <%= f.label '企画', :class => 'control-label'%>
    <div class="controls">
<% @plannings.each_with_index do |planning, i| -%>
  <%= f.fields_for :plannings, planning, :index => planning.id do |fpl| %>
    <% if join_planning?(@article.plannings, planning) === true %>
        <%= fpl.check_box :id, :class => 'checkbox icheck-me', :checked => "checked", :"data-skin" => 'square', :"data-color" => 'grey' %>
    <% else -%>
        <%= fpl.check_box :id, :class => 'checkbox icheck-me', :checked => "", :"data-skin" => 'square', :"data-color" => 'grey' %>
    <% end -%>
    <%= fpl.label :id, :class => "icheck-me-inline" do %>
      <%= planning.name %>
    <% end -%>
  <% end -%>
<% end -%>
    </div>
</div>
<% end -%>

<!--
<div class="control-group">
  <%= f.label :plannings, '企画', :class => 'control-label'%>
    <div class="controls">
<% @plannings.each_with_index do |planning, i| -%>
  <%= f.fields_for :plannings, planning, :index => planning.id do |fpl| %>
        <%= fpl.check_box :id, :class => 'checkbox' %>s
  <% end -%>
<% end -%>
    </div>
</div> -->

<div class="control-group">
  <%= f.label :outline, '記事概要', :class => 'control-label'%>
  <div class="controls subtitle help">投稿する旅話の概要(いつ、どこで、何をしていた時か)を入力します</div>
  <div class="controls">
    <%= f.text_area :outline, :placeholder => '記事概要', :rows => 6, :class => "span7", :required => "required" %>
  </div>
</div>

<div id="paragraphs-block">
<% @paragraphs.each_with_index do |paragraph, i| -%>
<div class="paragraph">
  <%= f.fields_for :paragraphs, paragraph, :index => paragraph.id do |fp| %>
    <div class="control-group">
      <%= fp.label :subtitle, :class => 'control-label' do %>
        <% if i > 0 %>
          <input type="button" class="remove-paragraph" value="-"/>
        <% end -%>
        小見出し<%= i + 1 %>
      <% end -%>
      <div class="controls">
        <% if i == 0 %>
          <%= fp.text_field :subtitle, :placeholder => '旅話の始めの小見出しを入力します', :class => "span7", :required => "required" %>
        <% else %>
          <%= fp.text_field :subtitle, :placeholder => '旅話の' + (i + 1).to_s + 'つ目の小見出しを入力します', :class => "span7" %>
        <% end -%>
      </div>
    </div>
    <div class="control-group">
      <%= fp.label :image, :class => 'control-label' do %>
        投稿写真<%= i + 1 %>
      <% end -%>
      <div class="controls">
        <div>
          <div class="fine-uploader imageuploader"></div>
          <div class="file-image image-container photo">
          <!-- <div class="photo"> -->
            <% if paragraph.image && paragraph.image.file %>
              <%=  image_tag(paragraph.image.file.url(:medium), :class => "upload-file") %>
            <% else %>
              <span class="upload-file">NO IMAGE</span>
              <img class="upload-file" src="" alt="NO IMAGE" style="display: none;">
            <% end -%>
            <%= fp.hidden_field :image_id -%>
          </div>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= fp.label :sentence, :class => 'control-label' do %>
        文章<%= i + 1 %>
      <% end -%>
      <div class="controls">
        <% if i == 0 %>
          <%= fp.text_area :sentence, :placeholder => '小見出し' + (i + 1).to_s +  'に続く旅話の本文を入力します', :rows => 10, :class => "span7", :required => "required" %>
        <% else %>
          <%= fp.text_area :sentence, :placeholder => '小見出し' + (i + 1).to_s +  'に続く旅話の本文を入力します', :rows => 10, :class => "span7" %>
        <% end -%>
      </div>
    </div>
    <% if paragraph.persisted? %>
      <%= fp.hidden_field :id, value: paragraph.id %>
    <% end %>
    <%= fp.hidden_field :deleted_at %>
  <% end -%>
</div>
<% end -%>
</div>

<div class="control-group">
  <div class="controls">
    <input type="button" id="add-paragraph" value="小見出し・写真を追加"/>
    <span class="addparagraph help">旅話の展開に応じて、小見出し、写真、本文を追加できます(任意)</span>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <!-- todo 一時保存？ -->
    <!-- todo 確認画面？ -->
  <% if f.object.new_record? %>
    <%= f.submit '一時保存', :class => 'btn btn-inverse', :name => 'save_temporary' %>
    <%= f.submit '投稿', :class => 'btn btn-danger', :name => 'save' %>
  <% else %>
    <%= f.submit :class => 'btn btn-inverse' %>
    <%= link_to 'キャンセル', article_path(@article), :class => 'btn' %>
    <!-- <%= link_to :cancel, article_path(@article), :class => 'btn' %> -->
  <% end %>
  </div>
</div>

<%= f.hidden_field :user_id, :value => current_user.id %>

<% end -%>
