<%= stylesheet_link_tag "articles", :media => "all" %>

<div>
  <div id="sidebar" class="search-area horizontal">
    <h4>記事検索</h4>

<!-- todo リストの左にスペースがあるので調整必要 -->
    <%= form_tag :search_articles, method: :get, :class => 'form-horizontal' do %>
      <%= text_field_tag :title, params[:title], :placeholder => "レポート名" %>
      <%= select_tag :theme_id, options_for_select(@themes.collect{|m| [m[0], m[1]]}, params[:theme_id]), :prompt => '記事のテーマ？' %>
      <%= select_tag :country_id, options_for_select(@countries.collect{|m| [m[0], m[1]]}, params[:country_id]), :prompt => '国？' %>
      <%= select_tag :vihicle_id, options_for_select(@vihicles.collect{|m| [m[0], m[1]]}, params[:vihicle_id]), :prompt => '移動手段？' %>
      <%= select_tag :member_id, options_for_select(@members.collect{|m| [m[0], m[1]]}, params[:member_id]), :prompt => '人数？' %>
      <%= select_tag :purpose_id, options_for_select(@purposes.collect{|m| [m[0], m[1]]}, params[:purpose_id]), :prompt => '目的？' %>
      <%= select_tag :budget_id, options_for_select(@budgets.collect{|m| [m[0], m[1]]}, params[:budget_id]), :prompt => '予算？' %>
      <%= select_tag :language_id, options_for_select(@languages.collect{|m| [m[0], m[1]]}, params[:language_id]), :prompt => '言語力？' %>
      <%= select_tag :age_id, options_for_select(@ages.collect{|m| [m[0], m[1]]}, params[:age_id]), :prompt => '年齢？' %>
      <%= select_tag :planning_id, options_for_select(@plannings.collect{|m| [m[0], m[1]]}, params[:planning_id]), :prompt => '企画？' %>
      <%# todo 余裕があれば 1 を定数化 %>
      <div class="clearfix" style="margin-top: 5px;">
        <div class="pull-left">
      <%= check_box_tag :popular, "1", params[:popular], :class => 'icheck-me', :"data-skin" => 'square', :"data-color" => 'grey' %><%= label_tag :popular, "人気順", :class => "icheck-me-inline" %>
        </div>
        <div class="pull-left" style="left:50px;position:relative;">
      <%= check_box_tag :recommended, "1", params[:recommended], :class => 'icheck-me', :"data-skin" => 'square', :"data-color" => 'grey' %><%= label_tag :recommended, "オススメのみ", :class => "icheck-me-inline" %>
        </div>
      </div>

      <div>
        <%= submit_tag "検索", :class => "btn" %>
      </div>
    <% end %>
  </div>
  <div id="contents">
    <section class="contents">
      <div class="articles-container">
        <%= render :partial => 'shared/articles/list', :locals => {:articles => @articles, :admin_page => true} %>
      </div>
    </section>
    <%= paginate(@articles) %>
  </div>
</div>

