<%= stylesheet_link_tag "articles", :media => "all" %>
<%= form_for @article, :html => {:class => 'form-horizontal'}, :url => {:action => "edit"} do |f| %>

<div class="reading">

  <div class="header clearfix">
       <h3 class="pull-left"><%= to_value(@article.theme) %></h3>
      <!-- %= t(@article.theme.type, :scope => 'theme.code') %-->

      <!-- todo 国？ -->
       <h6 class="pull-left">
        <%= to_tags_value(@article) %>
       </h6>
       <div class="ribbon pull-right">
          <% if @article.recommended? %>
            <%= image_tag("common/ribbon-yellow.png") %>
          <% end -%>
      </div>
  </div>

<!--        <div class="pull-right">
<iframe src="//www.facebook.com/plugins/like.php?locale=ja_JP&href=http%3A%2F%2Ftabi-repo.net/articles/4&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=494878583905202" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:103px; height:21px;" allowTransparency="true"></iframe>
      </div>
 -->
  <div class="image-container top">
      <% if @article.image %>
        <%#=  image_tag(@article.photo.url(:medium), :size => "640x480") --%>  
        <%=  image_tag(@article.image.file.url(:medium), :class => "upload-file") %>  
      <% else -%>
        <%= noimage_tag(:medium, :class => "upload-file") %>
      <% end %>
  </div>
  <div class="outline wordbreak">
      <h3><%= sanitize(@article.title) %></h3>
      <p><%= simple_format(sanitize(@article.outline)) %></p>
  </div>

  <% @article.paragraphs.each do |paragraph| %>
    <div class="paragraph wordbreak">
      <h4>◆<%= sanitize(paragraph.subtitle) %></h4>
      <% if paragraph.image %>
        <div class="image-container small"><%=  image_tag(paragraph.image.file.url(:small), :class => "upload-file") %></div>
      <% else -%>
        <!-- <div class="image-container small"><%= noimage_tag(:small, :class => "upload-file") %></div> -->
      <% end -%>
      <p><%= simple_format(sanitize(paragraph.sentence)) %></p>
    </div>
  <% end -%>

  <div class="image-container bottom">
      <% if @article.image %>
        <%#=  image_tag(@article.photo.url(:medium), :size => "640x480") --%>  
        <%=  image_tag(@article.image.file.url(:medium), :class => "upload-file") %>  
      <% else -%>
        <%= noimage_tag(:medium, :class => "upload-file") %>
      <% end %>
  </div>

  <div class="footer" style="margin-top: 10px;">
    <div class="toolbar">
    <% if user_signed_in? && current_user.admin? %>
    <!-- <div> -->
      <% if !@article.recommended? %>
        <%= link_to 'オススメ', article_path(@article) + "/recommend",
          :method => :put, 
          :class => 'btn btn-warning' %>
      <% else %>
        <%= link_to 'オススメ取消', article_path(@article) + "/disrecommend",
          :method => :put, 
          :class => 'btn btn-danger' %>
      <% end -%>
      <% if @article.approved? %>
        <%= link_to '承認取消', article_path(@article) + "/disapprove",
          :method => :put, 
          :class => 'btn btn-danger' %>
      <% else %>
        <%= link_to '承認', article_path(@article) + "/approve",
          :method => :put, 
          :class => 'btn btn-success' %>
      <% end -%>
    <!-- </div> -->
    <% end -%>
    <% if !@article.applied? %>
        <%= link_to '投稿', article_path(@article) + "/apply",
          :method => :put, 
          :class => 'btn btn-danger' %>
    <% end -%>
    <% if @article.write_by?(current_user) %>
        <%= link_to '編集', edit_article_path(@article), :class => 'btn btn-inverse' %>
    <% end -%>
    <% if (user_signed_in? && current_user.admin?) || @article.write_by?(current_user) %>
        <%= link_to '削除', @article,
          :confirm => '削除してもよろしいですか？',
          :method => :delete, 
          :class => 'btn' %>
    <% end -%>
    </div>

    <div class="clearfix"></div>

    <%= render :partial => 'shared/users/profile', :locals => {:user => @article.user} %>

    <div class="articles-suggestion">
      <section class="contents">
        <h4>この記事を見た後に読んでいるのは！？</h4>
        <div class="articles-container">
          <%= render :partial => 'shared/articles/list', :locals => {:articles => @shoveler_articles} %>
        </div>
        <div class="link">
          <%= link_to "この記事を見た後に読んでいるのは！？一覧はこちら", {:controller => "articles", :action => "search_as_shoveler", :article_id => @article.id} %>
        </div>
      </section>

      <section class="contents">
        <h4>関連記事</h4>
        <div class="articles-container">
          <%= render :partial => 'shared/articles/list', :locals => {:articles => @related_articles} %>
        </div>
        <div class="link">
          <%= link_to "関連記事一覧はこちら", {:controller => "articles", :action => "search_as_related", :article_id => @article.id, :theme_id => @article.theme_id} %>
        </div>
      </section>
    </div>

  </div>
</div>

<% end -%>
