<%= stylesheet_link_tag "articles", :media => "all" %>
<%= form_for @article, :html => {:class => 'form-horizontal'}, :url => {:action => "edit"} do |f| %>

<div class="reading">
  <div class="header clearfix">
       <h3 class="pull-left"><%= @article.theme.value %></h3>
      <!-- %= t(@article.theme.type, :scope => 'theme.code') %-->

      <!-- todo 国？ -->

       <h6 class="pull-left">
        <%= @article.country.value %>
      /
        <%= @article.vihicle.value %>
      /
       <%= @article.member.value %>
      /
       <%= @article.purpose.value %>
      /
       <%= @article.budget.value %>
      /
       <%= @article.language.value %>
      /
       <%= @article.age.value %></h6>
       <!-- <h6 class="pull-right"><%#= @article.user.name %></h6> -->
       <div class="ribbon pull-right">
          <% if @article.recommended? %>
            <%= image_tag("articles/ribbon-indigo.png") %>
          <% end -%>
      </div>
  </div>

  <div class="image-container top">
      <% if @article.image %>
        <%#=  image_tag(@article.photo.url(:medium), :size => "640x480") --%>  
        <%=  image_tag(@article.image.file.url(:medium), :class => "article-photo") %>  
      <% end %>
  </div>
  <div class="outline">
      <h3><%= sanitize(@article.title) %></h3>
      <p><%= simple_format(sanitize(@article.outline)) %></p>
  </div>

  <% @article.paragraphs.each do |paragraph| %>
    <div class="paragraph">
      <h4>◆<%= sanitize(paragraph.subtitle) %></h4>
      <% if paragraph.image %>
        <div class="image-container small"><%=  image_tag(paragraph.image.file.url(:small), :class => "article-photo") %></div>
      <% end -%>
      <p><%= simple_format(sanitize(paragraph.sentence)) %></p>
    </div>
  <% end -%>

  <div class="image-container bottom">
      <% if @article.image %>
        <%#=  image_tag(@article.photo.url(:medium), :size => "640x480") --%>  
        <%=  image_tag(@article.image.file.url(:medium), :class => "article-photo") %>  
      <% end %>
  </div>

  <div class="footer" style="margin-top: 10px;">
    <div class="toolbar">
    <% if user_signed_in? && current_user.admin? %>
    <!-- <div> -->
      <% if !@article.recommended? %>
        <%= link_to 'オススメ', article_path(@article) + "/recommend",
          :method => :put, 
          :class => 'btn btn-warning' %>
      <% else %>
        <%= link_to 'オススメ取消', article_path(@article) + "/disrecommend",
          :method => :put, 
          :class => 'btn btn-danger' %>
      <% end -%>
      <% if @article.approved? %>
        <%= link_to '承認取消', article_path(@article) + "/disapprove",
          :method => :put, 
          :class => 'btn btn-danger' %>
      <% else %>
        <%= link_to '承認', article_path(@article) + "/approve",
          :method => :put, 
          :class => 'btn btn-success' %>
      <% end -%>
    <!-- </div> -->
    <% end -%>
    <% if @article.write_by?(current_user) %>
        <%= link_to '編集', edit_article_path(@article), :class => 'btn btn-inverse' %>
    <% end -%>
    <% if (user_signed_in? && current_user.admin?) || @article.write_by?(current_user) %>
        <%= link_to '削除', @article,
          :confirm => '削除してもよろしいですか？',
          :method => :delete, 
          :class => 'btn' %>
    <% end -%>
    </div>

    <div class="clearfix"></div>

    <div class="writer-container">
      <div class="span3"><%= link_to image_tag(@article.user.image_url + "&type=large", :alt => "AUTHOR") , '/profiles/' + @article.user.id.to_s %></div>
      <div class="span6">
        <p><%= @article.user.name %></p>
        <p><%= simple_format(sanitize(@article.user.bio)) %></p>
      </div>
    </div>

    <div class="clearfix" style="margin: 50px 0;border: 2px dashed #ccc;"></div>

    <div class="articles-suggestion">
      <section class="contents">
        <h4>この記事を見た後に読んでいるのは！？</h4>
        <div class="articles-container">
          <%= render :partial => 'shared/articles/list', :locals => {:articles => @shoveler_articles} %>
        </div>
        <div class="link">
          <%= link_to "記事一覧はこちら", search_articles_path %>
        </div>
      </section>

      <section class="contents">
        <h4>関連記事</h4>
        <div class="articles-container">
          <%= render :partial => 'shared/articles/list', :locals => {:articles => @related_articles} %>
        </div>
        <div class="link">
          <%= link_to "記事一覧はこちら", search_articles_path %>
        </div>
      </section>
    </div>

  </div>
</div>

<% end -%>
