<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# tabirepo: http://ogp.me/ns/tabirepo#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">




  <!-- TODO OGP は記事ごとに動的に設定が必要 -->
  <meta property="fb:app_id" content="494878583905202" />
  <meta property="og:locale" content="ja" />
  <meta property="og:title" content="旅レポ">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://tabi-repo.net">
  <meta property="og:image" content="assets/common/logo.jpg">
  <meta property="og:site_name" content="旅レポ">
  <meta property="og:description" content="世界を歩いて、感じて、考えた。旅話専門ポータルサイト">
  <meta property="fb:app_id" content="494878583905202">
  <meta content="世界を歩いて、感じて、考えた。旅話専門ポータルサイト" name="description">
  <meta content="たびれぽ,旅レポ,旅,旅行,旅話,旅 話,旅行　話,旅　レポート" name="keywords">
  <meta content="noodp,noydir" name="robots">

  <!-- <meta content="summary" name="twitter:card"> -->
  <!-- <meta content="@tabirepo" name="twitter:site"> -->
  <!-- <meta content="" name="msvalidate.01"> -->

  <title><%= content_for?(:title) ? yield(:title) : "旅レポ" %></title>
  <%= csrf_meta_tags %>

  <%#-- for google analytics tracking --%>
  <%= analytics_init if Rails.env.production? %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

<!--       <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css">
-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

</head>
