<!-- <ul class="nav well"> -->
<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to '旅レポについて', about_us_path %></li>
  <li><%= link_to '問い合わせ', contact_new_path %></li>
  <% if user_signed_in? && current_user.admin? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">管理メニュー<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <%#--li>< link_to '記事一覧', search_articles_path ></li%>
        <li><%= link_to 'ユーザー一覧', profiles_path %></li>
        <li><%= link_to '問い合わせ一覧', contact_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'レポート', report_path %></li>
        <li><%= link_to '各種設定', "/" %></li>
        <!-- <li><%= link_to '各種設定', about_us_edit_path %></li> -->
      </ul>
    </li>
  <% end -%>
  <% if user_signed_in? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">アカウント<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to '投稿履歴', articles_path + "?user_id=" + current_user.id.to_s %></li>
        <li><%= link_to 'プロフィール', profile_path(current_user.id) %></li>
        <li class="divider"></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path %></li>
  <% end -%>
</ul>

  <%#--= form_tag('/articles/new', :class => "navbar-search", :method => 'get') do --%>
    <%#-- submit_tag("記事を投稿する", :class => "btn btn-success btn-small") --%>
  <%#-- end --%>
