<!-- <h2>Sign in</h2> -->
<!-- <h4>ログイン</h4>
 -->
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>

<div class="control-group">
  <h4 class="control-label">ログイン</h4>
</div>

<div class="control-group">
  <%= f.label :email, :class => 'control-label'%>
  <div class="controls">
    <div class="input-prepend">
      <%= f.email_field :email, :autofocus => true, :class => "span7" %>  
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :password, :class => 'control-label'%>
  <div class="controls">
    <div class="input-prepend">
      <%= f.password_field :password, :class => "span7" %>  
    </div>
  </div>
</div>

  <% if devise_mapping.rememberable? -%>
<div class="control-group">
    <div class="controls">
      <label class="checkbox" for="user_remember_me">
        <%= f.check_box :remember_me, :class => 'checkbox' %> ログイン状態を保持する   
        <!-- <%= f.check_box :remember_me, :class => 'checkbox' %> <%= :remember_me %>   -->
        <!-- <%= f.check_box :remember_me, :class => 'checkbox' %> <%= f.label :remember_me %>   -->
      </label>
    </div>
</div>
<% end -%>


<div class="control-group">
  <div class="controls">
    <!-- <%= f.submit "Sign in", :class => 'btn btn-inverse' %> -->
    <%= f.submit "ログイン", :class => 'btn btn-inverse' %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "ライター登録", new_registration_path(resource_name), :class => 'btn btn-success' %>
  <% end -%>

  <br/>
  <br/>

    <%#--= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
<%= render "devise/shared/simple_links" %>
  </div>
</div>

<!--   <div>
 -->
<!-- - if !user_signed_in?
  = link_to "Facebookアカウントでログイン", user_omniauth_authorize_path(:facebook)
- else
  = "#{current_user.name}としてログインしています."
  = link_to "ログアウト", destroy_user_session_path, :method => :delete
 -->

  <!-- </div> -->
  <!-- <div><%= f.submit "Sign in" %></div> -->
<% end %>

