<%= stylesheet_link_tag "contact", :media => "all" %>
<!-- <h4>お問い合わせ</h4>
 -->
<%#-- form で action 指定。routes でも回避可能？ --%>
<%= form_for @contact, :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |f| %>

<div>
  <h3 class="page-title">お問い合わせ</h3>
</div>

<% if @contact.errors.any? %>
  <div class="control-group">
    <div class="controls alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
  <% @contact.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end -%>
    </div>
  </div>
<% end -%>

<div class="control-group">
  <%= f.label :name, '名前', :class => 'control-label' %>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_field :name, :class => "span7", :required => "required" %>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, 'メールアドレス', :class => 'control-label' %>
  <div class="controls">
    <div class="input-prepend">
      <%= f.email_field :email, :autofocus => true, :class => "span7", :required => "required" %>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :content, '内容', :class => 'control-label' %>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_area :content, :rows => 4, :class => "span7", :required => "required" %>
    </div>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <%= f.submit '送信', :class => 'btn btn-inverse' %>
    <%= f.button 'リセット', :class => 'btn', :type => "reset" %>
  </div>
</div>

<% end -%>
