<!DOCTYPE html>
<html lang="ja">
  <%= render :partial => 'shared/head' %>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=494878583905202";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container main">
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= render :partial => 'shared/header' %>
      </div>
    </div>
  </nav>
  <%= render :partial => 'shared/top' %>
  <div class="row">
    <!-- <div id="sidebar" class="span3"> -->
      <%#= render :partial => 'shared/sidemenu' --%>
    <!-- </div> -->
    <div id="contents" class="span12">
      <% unless notice.blank? %>
        <div class="alert alert-block alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= notice %></p>
        </div>
      <% end %>
      <% unless alert.blank? %>
        <div class="alert alert-block alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= alert %></p>
        </div>
      <% end %>
            <!--  %= bootstrap_flash % -->
      <%= yield %>
    </div>
  </div>
  <%= render :partial => 'shared/footer' %>
</div>
<%= render :partial => 'shared/js' %>
</body>
</html>
