<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "旅レポ" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

<!--       <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css">
 -->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>

<body>
<div class="container main">
     <nav class="navbar">
        <div class="navbar-inner">
          <div class="container">
             <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="/">旅レポ</a>


            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse　navbar-responsive-collapse">
              <ul class="nav">
                <li><%= link_to '旅レポについて', about_us_path %></li>
                <li><%= link_to '記事一覧', articles_path %></li>
                <li><%= link_to '問い合わせ', contact_new_path %></li>
              </ul>
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">アカウント<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to '投稿一覧', "/" %></li>
                      <li><%= link_to 'プロフィール', "/" %></li>
                      <li class="divider"></li>
                      <li><%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %></li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to 'ログイン', new_user_session_path %></li>
                <% end -%>

                <!--
                <form class="navbar-search" action="">
                  <input class="search-query span2" type="text" placeholder = "search"/>
                </form>
              -->
                <!--
                <li class="dropdown">
                  <%# レポーターになる　/ ログイン ＝＞　ログイン後にアカウント %>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">アカウント<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'プロフィール', "/" %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'ログアウト', "/" %></li>
                  </ul>
                </li>-->
                <%= form_tag('/articles/new', :class => "navbar-search", :method => 'get') do %>
                  <% submit_tag("記事を掲載する", :class => "btn btn-success btn-small") %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
     </nav>
  <header>
    <div class="holder_content">
    <!-- <h2 class="concept">世界を歩いて、感じて、考えた。旅話専門ポータルサイト</h2> -->
      <a href="#" id="top">
        <%= link_to image_tag('top.png'), '/' %>
      </a>
    </div>
  </header>
  <div class="row">
<!--     <div id="sidebar" class="span3">

    <div>
     <aside id="daily_photo">
        <%= image_tag 'picture4.jpg', :size => '150x99', :class => "img-polaroid"  %>
        <footer>今日のPhoto：ポルトガル</footer>
     </aside>
    </div>
 -->
  <!--      <nav class="well sidebar-nav">
          <ul class="nav nav-list">
             <li class="nav-header"><%= link_to 'About us', '/about_us' %></li> -->
    <!--  <nav>
        <ul>
           <li><%= link_to 'About us', about_us_path %></li>
           <li><%= link_to '投稿一覧', articles_path %></li>
           <li><%= link_to 'Information', '/' %></li>
           <li><%= link_to '投稿する', new_article_path %></li>
           <li><%= link_to '問い合わせ', contact_new_path %></li>
        </ul>
     </nav> -->
     <!-- <aside id="daily_photo"> -->
        <!-- 写真の大きさはそのままで範囲を切り取る -->
       <!--  <%= image_tag 'picture4.jpg', :size => '150x99', :class => "img-polaroid"  %>
        <footer>今日のPhoto：ポルトガル</footer> -->
<!--      </aside>
     <div id="ad">
        <div><a href=""><img src=""></a></div>
        <div><a href=""><img src=""></a></div>
        <div><a href=""><img src=""></a></div>
        <div><a href=""><img src=""></a></div>
     </div>
 -->    
<!-- </div> -->

    <div id="contents" class="span12">
      <% unless notice.blank? %>
        <div class="alert alert-block alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= notice %></p>
        </div>
      <% end %>
      <% unless alert.blank? %>
        <div class="alert alert-block alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= alert %></p>
        </div>
      <% end %>
            <!--  %= bootstrap_flash % -->
      <%= yield %>
    </div>
  </div>
  <footer class="row-fluid">
    <div id="daily_photo" class="span6">
      <p>Today's Photos</p>
      <aside>
        <%= image_tag 'picture4.jpg', :size => '90x60', :class => "img-polaroid"  %>
      </aside>
    </div>
    <div class="span6">
    <p class="copyright">&copy; 旅レポ 2013</p>
    <div class="logo">
      <%= link_to image_tag('logo/jaywalk.jpg', :size=>'120x90'), "http://jay-walk.com/", :target => "blank" %>
    </div>
    </div>
  </footer>
</div>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
</body>
</html>
